* {
    box-sizing: border-box;
}

li {
    margin: 10px
}



ul{
    padding-left: 0px;
    width: content-box;
}


body {
    font-family: Verdana, sans-serif;
    background-image: url("css/images/background4.jpg");
    background-color: #cccccc;
}


#year {
    visibility: hidden;
}

#month{
    cursor: pointer;
}

#content{
    display: flex;
}

.month {
    padding: 30px 25px;
    background: #008CBA;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ccc;;
}

.month ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.month ul li {
    margin: 0 10px;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#weekdays {
    margin: 0;
    width: 70px;
    background-color: brown;
    float: left;
}

#weekdays li {
    color: black;
    text-align: center;
    height: 60px;
    border: 1px solid #ccc;;
}

#days {
    margin: 0;
}

#days li {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;;
    height: 80px;
    padding: 20px;
    background-color: #008CBA;
}


#username1, #username2, #username3, #username4 {
    width: 280px;
    margin-left: 150px;
}

#user1, #user2, #user3, #user4 {
    margin: 0;
    width: 680px;
}

#user1 li, #user2 li, #user3 li, #user4 li {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    color: black;
    border: 1px solid black;;
    max-width: 1090px;
    height: 80px;
    overflow: auto;
    background-color: lightyellow;
    padding: 5px;
    box-shadow: 5px 5px #000066;
}


#days li.weekend {
    background: #afbc1a;
    color: white !important;
}

#days li.active {
    background: #1abc9c;
    color: white !important;
}


#usernames {
    display: flex;
    background-color: #000066;
    height: 60px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#placehoder {
    padding-left: 20px;
}

#trash {
    font-size: 5px;
}

#deleteButton {
  background-color: #528CE0;
}

button {
    border-radius: 8px;
    background-color: #008CBA;
    margin: 3px;
    color: white;
}


#next,
#prev {
    cursor: pointer;
}

.modal {
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, 0.5);
    display: grid;
    grid-template-columns: 1fr 484px 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.panel {
    background: white;
    grid-column: 2;
    grid-row: 2;
}

.hide{
    display: none;
}


.footer {
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding-top: 35px;
}


/* Add media queries for smaller screens */
@media screen and (max-width: 768px) {

   #days li, .weekdays li, #user1 li, #user2 li, #user3 li, #user4 li{
        font-size: 13px;
        width: 100px;

    }


    #days li .active {
        padding: 2px;
    }

    #placeholder, #username1, #username2, #username3, #username4 {
        width: 120px;
        margin-left: 20px;
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {

    #days li {
        font-size: 10px;
    }


    #days li .active {
        padding: 2px;
    }

   #placeholder, #username1, #username2, #username3, #username4 {
        width: 150px;
        margin-left: 10px;
        font-size: 10px;
    }

    #usernames{
        height: 50%;
    }

   #days li, #user1 li, #user2 li, #user3 li, #user4 li {
        list-style-type: none;
        text-align: center;
        font-size: 10px;
        color: black;
        border: 1px solid black;;
        width: 20px;
    }
}





